@import "tailwindcss";
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .custom-shadow-left {
    background: linear-gradient(to right,white 20%,rgba(255,255,255,0) 80%)
  }
  .custom-shadow-right {
    background: linear-gradient(to left,white 20%,rgba(255,255,255,0) 80%)
  }

  .centered {
    right: 50%;
    transform: translate(50%, 0);
  }
}

html, body, :root {
  height: 100vh;
  width: 100vw;
}

html {
  overflow: hidden;
}

input[type="range"].range-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: #ef4444; /* Tailwind red-500 */
  border-radius: 9999px;
  margin-top: -6px; /* centers thumb vertically */
  position: relative;
  z-index: 10;
}

input[type="range"].range-thumb::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background-color: #ef4444;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
}

/* Track styles (optional) */
input[type="range"].range-thumb::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 9999px;
}

input[type="range"].range-thumb::-moz-range-track {
  height: 8px;
  border-radius: 9999px;
}

